body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(72, 29, 5);
  cursor: url("../pinch-small.png"), auto;
  font-family: lato, Arial, Helvetica, sans-serif;
}

#board {
  width: 100vw;
  height: 100vh;
  background-image: url("../5965778.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#board-game {
  border-radius: 10px;
  margin-top: 60px;
  margin-left: 20px;
  display: grid;
  background-image: url("../3986323.jpg");
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "image1 image1 image1"
    "image1 image1 image1"
    "image1 image1 image1";
}
.square {
  background-color: #ffddc1;
  margin: 5px;
  padding: 5px;
}

.chosenSquare {
  background-image: url("../lemur.svg");
  background-size: cover;
  width: 315px;
  max-height: 100%;
  object-fit: fill;
}
.gameOver {
  background-image: url("../hedgehog.png");
  background-size: cover;
  width: 315px;
  max-height: 100%;
  object-fit: fill;
}

.timeRemaining {
  font-size: 22px;
  padding-top: 20px;
}

#score-container {
  font-size: 22px;
  margin: 20px;
}
#score {
  font-weight: bold;
}
.rectangle-game {
  width: 20%;
  background-color: rgba(255, 255, 255, 0.644);
  float: right;
  border-radius: 10px;
  margin-top: 200px;
  margin-right: 60px;
}

/* #hammer {
  position: absolute;
  transform: translateX(-50%, -50%);
  width: 50px;
  height: 100px;
  background-color: grey;
  bottom: 0;
} */
.red-color {
  background-color: red !important;
}

/* page gameover */

.page-gameover {
  width: 100vw;
  height: 100vh;
  background-image: url("../7719989.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
p {
  font-size: 26px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  position: relative;
  background-color: #948b2a;
  color: #f9cfab;
  border-radius: 5px;
  width: 190px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-width: 2px;
  border-color: #f07d71;
  margin-bottom: 20px;
  text-transform: uppercase;
}
button:hover {
  background-color: #f2b542;
  color: #528b82;
  cursor: pointer;
}
.rectangle {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.52);
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/* page opening */
button .button-opening {
  position: relative;
  background-color: #8e8328;
  color: rgb(90, 42, 15);
  border-radius: 5px;
  width: 140px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-width: 2px;
  border-color: #f07d71;
  margin-bottom: 20px;
}
