body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#board {
  width: 100vw;
  height: 100vh;
  background-color: rgb(184, 255, 196);
  position: relative;
  overflow: hidden;
}
#board-game {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "image1 image1 image1"
    "image1 image1 image1"
    "image1 image1 image1";
}
.square {
  background-color: rgb(203, 168, 255);
  margin: 5px;
  padding: 5px;
}
/* img {
  grid-area: image1;
  width: 60px;
  max-height: 100%;
} */
.chosenSquare {
  background-color: rgb(255, 255, 118);
}
