body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#board {
  width: 100vw;
  height: 100vh;
  background-image: url("../5965778.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#board-game {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "image1 image1 image1"
    "image1 image1 image1"
    "image1 image1 image1";
}
.square {
  background-color: #ffddc1;
  margin: 5px;
  padding: 5px;
}
/* img {
  grid-area: image1;
  width: 60px;
  max-height: 100%;
} */
.chosenSquare {
  background-image: url("../lemur.svg") !important;
  background-size: cover;
  width: 160px;
  max-height: 100%;
  object-fit: fill;
}
#score-container {
  font-size: 20px;
  margin: 20px;
}
#score {
  font-weight: bold;
}

#hammer {
  position: absolute;
  transform: translateX(-50%, -50%);
  width: 50px;
  height: 100px;
  background-color: grey;
  bottom: 0;
}
.red-color {
  background-color: red !important;
}

/* page gameover */

.page-gameover {
  width: 100vw;
  height: 100vh;
  background-image: url("../7719989.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 40px;
}
p {
  font-size: 26px;
  margin-bottom: 70px;
}

button {
  position: relative;
  background-color: #d8f2f1;
  color: rgb(90, 42, 15);
  border-radius: 5px;
  width: 20%;
  height: 8%;
  font-size: 20px;
  font-weight: bold;
  border-width: 2px;
  border-color: #f07d71;
}
button:hover {
  background-color: #f2b542;
  color: #528b82;
  cursor: pointer;
}
